@charset "ISO-8859-1";
body{
	background:rgb(15, 15, 2);
	color: #801080;
	}
.h1tag{
font:34pt/40pt courier;
font-variant: small-caps;
border: thick dashed rgb(141, 141, 175);
}
.head3tag{
font-size: xx-large;
color: rgb(51, 145, 59);
}
.class1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(100%,100%,100%);
}


